[Unit]
Description=Periodically check for Sinty OS updates

[Timer]
OnBootSec=3min
OnUnitActiveSec=6h
Persistent=true
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
